* {
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F8FF;
}





/* sherd style */
.contenair {

    max-width: 1060px;
    margin: 10px auto;
}

.drak-1 {
    color: black;
}

.drak-2 {
    color: #8987A1;
}

.drak-3 {}

.display-flax {
    display: flex;
}

img {
    width: 100%;
}


/* header style */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-right {

    gap: 30px;
}

ul {

    gap: 30px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* banner style */

.banner {
    margin-top: 50px;
    padding-top: 30px;
    align-items: end;
}

.banner-content {
    flex: 1;
}

.banner-titile {
   
    font-size: 55px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: 0%;
    text-align: left;
    
}







/* small device responsive  */

@media screen and (max-width:576px) {
  

    .banner{
        flex-direction: column-reverse;
    }


    ul li {
        visibility: hidden;
    }



}